<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <a class="btn btn-success mb-3" th:href="@{/tours/save}">Add Tour</a>
            <div class="row">
                <!-- Start of Loop -->
                <div class="col-md-2 mb-4" th:each="tour : ${tours}">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${tour.getTitre()}"></h5>
                            <p class="card-text"><strong>Start:</strong> <span th:text="${#dates.format(tour.getDate(), 'dd MMM yyyy')}"></span></p>
                            <p class="card-text"><strong>Duration:</strong> <span th:text="${tour.getDuree()}"></span> hrs</p>
                            <a href="#" class="btn btn-primary" th:href="@{/tours/details(id=${tour.getId_tour()})}">Details</a>
                        </div>
                    </div>
                </div>
                <!-- End of Loop -->
            </div>
        </div>
    </div>
</body>
</html>