<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container mt-5">
            <table class="table align-middle">

                <thead>
                    <tr>
                        <td>UserID</td>
                        <td>Username</td>
                        <td>Role(s)</td>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="u:${users}">
                        <td th:text="${u.getId_user()}"></td>
                        <td th:text="${u.getUsername()}"></td>
                        <td>
                            <span th:each="role: ${u.getRoles()}" th:text="${role.getRoleName() + '     '}"></span>
                        </td>
                        <td>
                            <a class="btn btn-danger" onclick="return confirm('You\'re about to delete a user, Are you sure ?')" th:href="@{/admin/users/delete(id=${u.getId_user()})}">
                                Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</html>