<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand m-lg-3" >Hidden brand</a>
            <ul class="navbar-nav navbar-expand-sm mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/tours/all}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Link</a></li>
                        <li><a class="dropdown-item" href="#">Another link</a></li>
                        <li><a class="dropdown-item" href="#">A third link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown me-3" >
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                        <span sec:authentication="name"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
                        <li><a class="dropdown-item" sec:authorize="hasAuthority('USER')" href="#">My reservations</a></li>
                        <li><a class="dropdown-item" sec:authorize="hasAuthority('ADMIN')" href="#">All reservations</a></li>
                        <li><a class="dropdown-item" sec:authorize="hasAuthority('ADMIN')" href="#">Users list</a></li>
                        <li><a class="dropdown-item" sec:authorize="isAuthenticated()" href="/login?logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <section layout:fragment="content">
    </section>
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>