<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 th:text="${tour.getTitre()}">Tour Title</h2>
        </div>
        <div class="card-body">
            <p><strong>Duration:</strong> <span th:text="${tour.getDuree()}">Duration</span> hours</p>
            <p><strong>Available:</strong> <span th:text="${tour.isDisponible() ? 'Yes' : 'No'}">Availability</span></p>
            <p><strong>Number of Places:</strong> <span th:text="${tour.getNombre_place()}">Number of Places</span></p>
            <p><strong>Date:</strong> <span th:text="${#dates.format(tour.getDate(), 'dd MMM yyyy')}">Date</span></p>
            <p><strong>Price:</strong> $<span th:text="${tour.getPrix()}">Price</span></p>
            <!-- Button pour reserver (Doesn't work yet) -->
            <a class="btn btn-primary" th:href="@{/reservations/new/{tourId}(tourId=${tour.getId_tour()})}">Make a Reservation</a>
        </div>
    </div>
    <!-- Retourner a la liste des tours -->
    <a class="btn btn-secondary mt-3" th:href="@{/index}">Back to Tour List</a>
</div>
</body>
</html>